---
title: Random Oracle Ltd.
description: Alisdair McDiarmid is a freelance Ember.js and Ruby on Rails developer from Glasgow, Scotland.
---

.strapline.section
  %a.logo{href: 'mailto:hello@randomoracle.com'}
    = image_tag 'logo.svg', alt: 'Random Oracle', width: 285, height: 96

  %h1 I build web apps.

.strapline.divider

.pitch.section
  %p
    = link_to 'Hello!', 'mailto:hello@randomoracle.com'
    My name is <a href="http://alisdair.mcdiarmid.org/">Alisdair McDiarmid</a>. I'm a freelance full stack developer from Glasgow, Scotland. I build web apps for startups. My clients are delighted with my work, and I think you will be too.

  %figure.quote
    %blockquote
      %p Alisdair McDiarmid was a key member of the engineering team that delivered a cloud based animal health services platform on behalf of Silent Herdsman Ltd. He was core to defining the solution to the major challenge of offline-online synch&shy;ronisation for time critical applications. We will be seeking to secure his services in the future.

    %figcaption
      Ivan Andonovic, CTO,
      = link_to 'Silent Herdsman Ltd.', 'http://www.silentherdsman.com/'

  %figure.quote
    %blockquote Random Oracle’s contributions to our tech demo helped us secure vital early customers, and supported the creation of a spinout company. Highly recommended.

    %figcaption
      Stephen McArthur,
      = link_to 'University of Strathclyde', 'http://www.strath.ac.uk/eee'

  %figure.quote
    %blockquote We launched Lumen Live to our clients this year, with Alisdair's help across the tech stack. Our developers are now more effective thanks to the expertise he shared, and the product is in great shape.

    %figcaption
      Adam Brown,
      = link_to 'Bellrock Technology Ltd.', 'http://www.bellrocktechnology.com'

  %figure.quote
    %blockquote Alisdair delivered great results for us. His impressive productivity helped us release version 1 of the core product to our clients on time. Extremely professional throughout.

    %figcaption
      Steven Drost, CEO,
      = link_to 'Stipso Ltd.', 'http://www.stipso.com/'

.pitch.divider

.questions.section
  %h1 Questions

  %dl
    %dt How much do you charge?

    %dd £400 per day, no VAT. Minimum project size is ten days.

    %dt When are you next available?

    %dd September&ndash;October 2014.

    %dt What's your technology expertise?

    %dd I've been developing commercial software for 15 years. I now work primarily with <a href="http://emberjs.com">Ember.js</a> and <a href="http://contributors.rubyonrails.org/contributors/alisdair-mcdiarmid/commits">Ruby on Rails</a>. I'm highly capable at all layers of the stack, from ops to the front end.

.questions.divider

.contact.section
  %p
    Email me at
    = link_to 'hello@randomoracle.com', 'mailto:hello@randomoracle.com'
    if you'd like to know more.

.footer.section
  Random Oracle Ltd. Registered in Scotland. Company number SC302398. Registered Office: 3/2, 60 Craigpark, Glasgow, G31 2NN.
